name: deploy

on: 
  push:
    branches: 
      - master
    paths-ignore:
      - '**.md'
      - '**.png'
      - '**cd.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true
    - uses: jetli/trunk-action@v0.5.1
      with:
        # Optional version of trunk to install(eg. 'v0.8.1', 'latest')
        version: 'latest'
    - name: Build
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        trunk build --release
    - name: Copy CNAME
      run: |
        cp CNAME dist/CNAME
    - name: Deploy demo
      uses: JamesIves/github-pages-deploy-action@v4.7.4
      with:
        branch: gh-pages
        folder: dist
        clean: true
